@import "blueprint/reset"
@import "blueprint"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

@import "partials/occurrences"

*
  margin:  0
  padding: 0

html, body
  height: 100%

html
  min-width: 890px

img
  border: 0
  vertical-align: top
  text-align: left

ul, ol
  list-style: none

table, table td
  padding: 0
  border: none
  border-collapse: collapse

a
  color: #000
  outline: none

a:hover
  text-decoration: none

h1
  font-size: 50px
  line-height: 40px
  padding-bottom: 10px

h1 a
  color: #000
  text-decoration: none

h2
  font-size: 24px
  font-weight: normal
  color: #444
  margin-bottom: 5px

h3
  font-size: 14px
  font-weight: normal
  color: #f94c75
  margin-bottom: 2px
  background:  url(../images/line-hor.gif) 0 100% repeat-x
  padding: 0 0 2px 0
  margin-bottom: 17px

h4
  font-size: 1em
  color: #000
  margin-bottom: 14px
  font-weight: normal

h5
  font-size: 12px
  margin-bottom: 14px

h6
  font-size: 1em
  color: #000
  font-weight: normal

form
  ol
    li
      padding: 10px 0
      &.error
        .inline-errors
          color: #F00
        input
          border: 1px solid #F00
      select
        width: 520px
        option
          font-size: 15px
      label
        display: block
        font-size: 15px
      input
        &[type=text], &[type=tel]
          width: 500px
          padding: 5px 10px
          font-size: 17px

body
  background:  url(../images/tail-top.gif) 0 0 repeat-x #fff
  font-family: Helvetica, sans-serif
  font-size: 100%
  line-height: 1.0625em
  color: #807e83

  & > div
    width: 960px
    margin:  0 auto
    font-size: .8125em
    position: relative

    header
      height: 140px
      h2
        margin: 13px 0 0
        color: #aeaeae
        font-size: 15px
      h1
        float: left
        margin: 25px 20px 0 0
        width: 220px
        font-size: 40px
      #info
        float: left
        margin: 30px 0 0
        width: 650px

    aside
      float: right
      width: 180px
      margin-left: 47px

    #content
      overflow: hidden
      float: left
      width: 730px
      background:  url(../images/line-hor.gif) 0 0 repeat-x
      padding: 15px 0 0 0


      section
        padding-bottom: 30px

      h2
        margin-bottom: 20px

    footer
      clear: both
      margin: 30px 0 0 0
      font-size: 11px
      color: #807e83

