<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>

      <header>
        <h2> Defesa Civil </h2>
        <h1><a href="#">Nome do<br /> Sistema</a></h1>
        <div id="info">
          Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </div>
      </header>

      <div id="content">
        <section>
          <h2>New service</h2>
          <p>
              Vivamus vitae sodales augue. Integer convallis diam sed nisi interdum nec tristique lectus lacinia. Sed tincidunt risus placerat enim rhoncus id ultricies odio lacinia. Suspendisse nisl magna, tempus sed ullamcorper non, interdum semper massa. Nullam sit amet nunc eu mauris tristique bibendum. Maecenas lacinia mauris eget sem condimentum eu suscipit nisi faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </section>

        <section>
          <h3>All services</h3>
          <h4>Phasellus non dui erat. </h4>
          <p>Quisque adipiscing malesuada metus nec facilisis. Aliquam facilisis consequat sollicitudin. Nam at urna vel mauris eleifend posuere ut in lacus.</p>
          <p>Nullam mollis rutrum augue in dapibus. Cras massa mauris, egestas ac ornare sit amet, pellentesque pulvinar augue. Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <a href="#" class="">read more</a>
        </section>
      </div>
      <aside>
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="index-1.html">About</a></li>
          <li><a href="index-2.html" class="current">Services</a></li>
          <li><a href="index-3.html">Solutions</a></li>
          <li><a href="index-4.html">Contacts</a></li>
        </ul>
        <div class="box">
          <div class="inner">
            <ul class="list1">
              <li><a href="#">Main Services</a></li>
              <li><a href="#">Market Research</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Accounting and Taxes</a></li>
              <li><a href="#">Online Banking</a></li>
              <li><a href="#">Business Consulting</a></li>
              <li><a href="#">Marketing Automation</a></li>
              <li><a href="#">Financial Services</a></li>
              <li><a href="#">Operations Consulting</a></li>
            </ul>
          </div>
        </div>
      </aside>
    <footer></footer>
  </div>
</body>
</html>



<!--
      #container
        %header
          %h1= t("header", :scope=> :titles)
        %section#content= yield
        %footer FOOTER
      %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" }
      %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" }
      = raw javascript_include_merged(:base)
  -->
